@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema PetShop</h1>
    <p class="lead">Sistema de PetShop feito na tecnologia ASP.NET.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Saiba Mais &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Faculdade Cruzeiro do Sul</h2>
        
        <p><a class="btn btn-default" href="http://www.cruzeirodosul.edu.br/">Saiba Mais &raquo;</a></p>
    </div>
</div>